td {
    /*margin: 3px;*/
    padding: 5px;
}

tr.selected > td {
    border-color: whitesmoke;
}

tr.selected {
    /*border-color: whitesmoke;*/
    background: darkblue;
    color: whitesmoke;
}

tr {
    border: gray 1px solid;
}

tr > td {
    border: gray 1px solid;
}

.table-column {

    text-overflow: ellipsis;
    /*max-width: 10vw;*/
    font-size: small;
    overflow: hidden;
    /*word-wrap: break-word;*/
}

.tag-column {

    text-overflow: ellipsis;
    overflow: hidden;
    /*max-width: 10vw;*/
    font-size: x-small;
    word-wrap: break-word;
}


table {
    font-size: small;
}

.entry-row {
    max-height: 337px;
}