td {
    /*margin: 3px;*/
    padding: 5px;
}

tr.selected > td {
    border-color: whitesmoke;
}

tr.selected {
    /*border-color: whitesmoke;*/
    background: darkblue;
    color: whitesmoke;
}

tr {
    border: gray 1px solid;
}

tr > td {
    border: gray 1px solid;
}

.id-column {
    text-overflow: ellipsis;
    max-width: 5vw;
    font-size: small;
    overflow: hidden;
    /*word-wrap: break-word;*/
    white-space: nowrap;
}
.table-column {

    text-overflow: ellipsis;
    max-width: 10vw;
    font-size: small;
    overflow: hidden;
    /*word-wrap: break-word;*/
    white-space: nowrap;
}

.tag-column {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 10vw;
    font-size: x-small;
    word-wrap: break-word;
    white-space: nowrap;
}
.selected .tag-column, .selected .id-column, .selected .table-column {
    /*text-wrap: pretty;*/
    white-space: pre-wrap;
}

table {
    font-size: small;
}

.entry-row {
    max-height: 337px;
}