td {
    /*margin: 3px;*/
    padding: 5px;
}

tr.selected > td {
    border-color: whitesmoke;
}

tr.selected {
    /*border-color: whitesmoke;*/
    background: darkblue;
    color: whitesmoke;
}

tr {
    border: gray 1px solid;
}

tr > td {
    border: gray 1px solid;
}

.tag-column{
    max-width: 10%;
    font-size: x-small;
}
.author-column{
    font-size: small;
}

table {
    font-size: small;
}